body {
    margin: 0;
    padding: 0;
}


.main {
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.aside {
    display: flex;
    flex-direction: column;
}