.main-wrapper {
    min-width: 400px;
    width: 20vw;
    padding: 5%;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0 auto;
}


.form {
    display: flex;
    flex-direction: column;
}

.form * {
    margin-top: 5%;
    height: 2em;
}