.container {
    /* height: 20vh; */
    background-color: ivory;
    border: 1px solid lightgray;
    flex: 1;
}

.form {
    display: flex;
    flex-direction: row;
}

.textarea {
   flex: 1;
    height: 18vh;
}

.button-send {
    padding: 1.5%;
    font-size: 2.5rem;
}